.blogPage {
    position: relative;
    padding: 10px;
    width: 900px;
    margin: 0 auto;
}

.blogPage .preloader {
    position: absolute;
    left: 50%;
    top: 50%;
}

.addNewPost {
    text-align: center;
}